# Archive downloads: only keep tasks, gulpfile.js, package.json
/doc               export-ignore
/test              export-ignore
/.eslintrc         export-ignore
/.gitignore        export-ignore
/.gitattributes    export-ignore
/LICENSE           export-ignore
/README.md         export-ignore
